<h1>This...is...Spinboard! (Kicks user into a bottomless pit)</h1>

<% if current_user %>
  Hello, <%= current_user.name %>
<% else %>
  Not at user yet? Would you like to sign up? <%= link_to "Yes Please", new_user_path %>
  <br>
  <br>
  Current users can just <%= link_to "Log In", login_path %>
<% end %>
